{
 
  "three":"<div ng-repeat=workshop in workshopList class=col-xs-12 workshops-item1 ng-scope1> <div class=inner-item> <div class='col-xs-12 col-sm-5 img-wrapper'> <div ng-show=workshop.videoUrl class=> <iframe target=_parent src=https://www.youtube.com/embed/Qk31lHPWZr8 allow=autoplay; encrypted-media webkitallowfullscreen=mozallowfullscreen=allowfullscreen=style=width: 100% width=100% height=350 frameborder=0> </iframe> </div><div ng-show=!workshop.videoUrl class=ng-hide> </div><a class=read-more ng-click=openWorkshopDetail(workshop)>Read More</a> </div><div class='col-xs-12 col-sm-6 trimmed-content'> <div class=content-wrapper> <h2 class=title> <a ng-click=openWorkshopDetail(workshop) class=ng-binding>Hindustani classical vocal recital by Sanjeev</a> </h2> <h3 class=time ng-binding>On 04/28/2018 05:00 PM</h3> <h3 class=time ng-binding>Duration 3 Hours</h3> <div ng-show=isShowWajoobaBtn(workshop) class=ng-hide> <div ng-show=workshop.isFreeClass class=ng-hide> <h3 class=time ng-hide ng-show=workshop.isFreeClass>Free Workshop</h3> <button class=btn btn-success btn-lg ng-click=registerWorkshop(workshop,null)> Register Here(FREE)</button> </div></div><div ng-show=isShowExternalBtn(workshop) class=> <a ng-click=openLink(workshop) class=btn btn-success btn-lg> Click Here to Buy </a> </div><div> <div ng-bind-html=::workshop.description class=ng-binding><p><em>Harmonium: Tanmay Deochake Tabla: Ajinkya Joshi</em></p><p>Sanjeev Abhyankar is a highly acclaimed exponent of Hindustani classical music. A star disciple of the great Pt Jasraj of Mewati Gharana, Sanjeev is one of the most accomplished vocalists in the field of Hindustani classical music. He is credited with attracting the young generation towards Indian Classical as well as devotional music by his magical singing.</p><p>Saturday, April 28th, 2018, 5:00 PM<br>CET Soto Theater, 701 Vine St. San Jose, CA 95110 (Free Parking)</p><p><strong>Tickets: Early Bird VIP $50, Preferred $35, General $25.00, Balcony $20</strong></p></div></div></div></div></div></div>"


}
